<main class="auth">
    <form class="auth__form" id="auth-form">
        {{!--{{<h1 class="auth__title">Вход</h1>}}--}}
        {{{buttonTo404}}}
        {{{buttonTo500}}}
        {{{title}}}
        {{{login}}}
        {{{password}}}
        {{{passwordElse}}}
        {{{buttonSub}}}
        {{{buttonLink}}}
    </form>
</main>
