<main class="auth">
  <form class="auth__form" id="auth-form">
    {{!--{{<h1 class="auth__title">Вход</h1>}}--}}
    {{{title}}}

    {{{form}}}
    
    {{!--{{{login}}}
    {{{password}}}
    {{{passwordElse}}}--}}
    
    {{{buttonSub}}}
    {{{buttonLink}}}
  </form>
</main>
