<div class="edit__container">
  {{!-- {{<a class="edit__button button" href="../../pages/mainMessanger/mainMessanger.html"></a>}} --}}
  {{{buttonToChats}}}
  <main class="edit">
    {{{avatar}}}
    <form class="edit__form" id="edit-form">
      {{{oldPassword}}}
      {{{newPassword}}}
      {{{newPasswordAgain}}}

      <div class="edit__btns">
        {{{changeData}}}
      </div>
    </form>
  </main>
</div>
