<div class="chats">
  {{{sidebar}}}
  <main class="chats__message-area">
    <header class="chats__header">
      <img class="chats__img chats__img_place_header button" alt="Аватар собеседника" src="../../images/avatar.png" />
      <h2 class="chats__name">Вадим</h2>
      <button class="chats__menu button"></button>
    </header>

    <div class="chats__main">
      <time class="chats__date">19 июня</time>
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>

    <footer class="chats__footer">
      {{{attachBtn}}}
      {{{input}}}
      {{{sendBtn}}}
    </footer>
  </main>
</div>
