<div class="edit__container">
  {{!-- {{<a class="edit__button button" href="../../pages/mainMessanger/mainMessanger.html"></a>}} --}}
  {{{buttonToChats}}}
  <main class="edit">
    {{{avatar}}}
    {{{title}}}
    <form class="edit__form" id="edit-form">
      {{{email}}}
      {{{login}}}
      {{{first_name}}}
      {{{second_name}}}
      {{{display_name}}}
      {{{phone}}}

      <div class="edit__btns">
        {{{changeData}}}
      </div>
    </form>
  </main>
</div>
