<div class="edit__input-container {{class}}">
  {{#unless tag}}
  <label class="edit__label {{classInp}}" for="{{name}}">{{label}}</label>
  <input class="edit__input" name="{{name}}" type="{{type}}">
  {{/unless}}
  {{#if tag}}
  <{{tag}} class="edit__link {{classRed}}" href="{{href}}">{{text}}</{{tag}}>
  {{/if}}
</div>