<div class="chats">
  {{{sidebar}}}
  <main class="chats__message-area">
    <header class="chats__header">
      {{{imagineProfile}}}
      {{!<img class="chats__img chats__img_place_header button" alt="Аватар собеседника" src="../../images/avatar.png" />}}
      {{!<h2 class="chats__name">Вадим</h2>}}
      {{{title}}}
      {{! <button class="chats__menu button"></button>}}
      {{{buttonUsers}}}
    </header>

    <div class="chats__main">
      <time class="chats__date">19 июня</time>
      {{{tabUsers}}}
      {{{tabMedia}}}
      {{#each messages}}
        {{{this}}}
      {{/each}}
    </div>

    <footer class="chats__footer">
      {{{attachBtn}}}
      {{{input}}}
      {{{sendBtn}}}
    </footer>
  </main>
</div>
