<main class="auth">
  <form class="auth__form" id="auth-form">
    {{!--{{<h1 class="auth__title">Вход</h1>}}--}}
    {{{title}}}
    {{#each inputs}}
      {{{this}}}
    {{/each}}
    {{!--{{{first_name}}}
    {{{second_name}}}
    {{{email}}}
    {{{login}}}
    {{{phone}}}
    {{{password}}}
    {{{passwordElse}}}--}}
    {{{buttonSub}}}
    {{{buttonLink}}}
  </form>
</main>
