<label class="auth__label {{class}}" for={{name}}>{{label}}
  <input name={{name}} class="auth__input" type={{type}} autocomplete="off" required="true"/>
  <span class="auth__input_error">{{error}}</span>
</label>
